:host {
    display: flex;
    height: 100%;
    position: relative;
    >.master {
        width: 100%;        
        @media screen and (min-width:500px){
            border-right: 1px solid #ddd;
            width: 33%;
        }
    }
    >.detail {
        background-color: #fafafa;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom:0;        
        @media screen and (min-width:500px) {
            position: static;
            flex-grow: 1;
            flex-basis: 0;
        }
    }
}
.recipe-item {   
    display: block; 
    padding:15px;
    border-bottom: 1px solid #ddd;
    line-height: 24px;
    position: relative;
    color: inherit;    
    cursor: pointer;
    &.-selected {
        background-color: #fafafa;
        font-weight: bold;
        &::after {            
            content: "";
            top: 0;
            display: block;
            bottom: 0;
            width: 1px;
            right: -1px;
            position: absolute;
            background-color: #fafafa;
        }
    }
    >.name {
        display: inline-block;
        margin-right: 5px;
    }
    
} 
