/* You can add global styles to this file, and also import other style files */
html {
    font-family:  Helvetica,Arial, sans-serif;
    font-size: 16px;
}
html,body {
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;    
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}

.vegetarian-icon {
    display: inline-block;
    background-image: url(assets/veg.svg);
    width: 24px;
    height: 24px;        
    transform: rotate(45deg);
    vertical-align: top;
}
